azure-common==1.1.28 ; python_version >= "3.11" and python_version < "4.0"
azure-core==1.29.7 ; python_version >= "3.11" and python_version < "4.0"
azure-identity==1.15.0 ; python_version >= "3.11" and python_version < "4.0"
azure-keyvault-certificates==4.7.0 ; python_version >= "3.11" and python_version < "4.0"
azure-keyvault-secrets==4.7.0 ; python_version >= "3.11" and python_version < "4.0"
certifi==2023.11.17 ; python_version >= "3.11" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.11" and python_version < "4.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "4.0"
cryptography==42.0.2 ; python_version >= "3.11" and python_version < "4.0"
idna==3.6 ; python_version >= "3.11" and python_version < "4.0"
isodate==0.6.1 ; python_version >= "3.11" and python_version < "4.0"
msal-extensions==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
msal==1.26.0 ; python_version >= "3.11" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.11" and python_version < "4.0"
pip-system-certs==4.0 ; python_version >= "3.11" and python_version < "4.0"
portalocker==2.8.2 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.11" and python_version < "4.0" and platform_python_implementation != "PyPy"
pydash==7.0.7 ; python_version >= "3.11" and python_version < "4.0"
pyjwt[crypto]==2.8.0 ; python_version >= "3.11" and python_version < "4.0"
pywin32==306 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.11" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.9.0 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
wrapt==1.16.0 ; python_version >= "3.11" and python_version < "4.0"
